{"osc-port":9089,"send":["localhost:9092"],"theme":["concerto"],"load":"C:\\Users\\1828951\\Documents\\Concerto\\Fichiers de projet\\OSC\\osc_concerto_session_6_v2_PUBLIC.json","client-options":["zoom=0.7"],"port":8080,"remote-root":"C:\\Users\\1828951\\Documents\\Concerto\\Fichiers de projet\\OSC","read-only":true}