{"osc-port":9090,"send":["localhost:9091"],"theme":["concerto"],"load":"D:\\Local Disk\\Users\\Vincent\\Documents\\GitHub\\Open-Stage-Concerto\\Projet\\osc_concerto_session_6_v4_LOCAL.json","client-options":["zoom=0.7"],"port":8080,"remote-root":"D:\\Local Disk\\Users\\Vincent\\Documents\\GitHub\\Open-Stage-Concerto\\Projet","custom-module":"D:\\Local Disk\\Users\\Vincent\\Documents\\GitHub\\Open-Stage-Concerto\\Projet\\SeqToHTML.js","remote-saving":"\"127.0.0.1|192.168.0.10\"","debug":true}